.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: var(--red-color-background);
  color: var(--greyDark);
}


.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin: 1rem;
  border-radius: 0.6rem;
  background: #ffffff;
  box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);

  .btn {
    color: var(--greyDark);

    &:hover {
      color: var(--red-color);
      cursor: pointer;
    }

  }

  .number,
  .numberActive,
  .btn,
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .dot {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--greyLight);
    cursor: initial;
  }

  .number {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;

    &:hover {
      color: var(--red-color);
    }

    &.active {
      color: #ffffff;
      background: var(--primary);
      font-weight: 600;
      border: 1px solid var(--primary);
    }
  }


  .numberActive {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;
    color: #ffffff;
    background: var(--red-color);
    font-weight: 600;
    border: 1px solid var(--red-color);
    ;
  }
}

@media (max-width: 768px) {
  .page {
    height: 1.8rem;
    margin: 0.5rem;

    .number,
    .numberActive,
    .btn,
    .dots {
      margin: 0.5rem;
      font-size: 1.2rem; /* Diminui o tamanho da fonte */
    }

    .number,
    .numberActive {
      width: 2.2rem;
      height: 2.2rem; /* Ajusta o tamanho dos botões */
    }

    .dot {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}

/* Para telas menores que 480px */
@media (max-width: 480px) {
  .page {
    flex-wrap: wrap; /* Permite que os elementos quebrem linha */
    margin: 0.3rem;
    min-height: 15vh;
    .number,
    .numberActive,
    .btn,
    .dots {
      margin: 0.3rem;
      font-size: 1rem; /* Reduz ainda mais o tamanho da fonte */
    }

    .number,
    .numberActive {
      width: 2rem;
      height: 2rem; /* Ajusta o tamanho dos botões para telas pequenas */
    }

    .dot {
      width: 2rem;
      height: 2rem;
    }
  }
}