.containerDetail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
}

.containerText {
    display: flex;
    gap: 10px
}
.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectCategory {
    cursor: pointer;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    border: 2px solid;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.selectCategory:focus,
.selectCategory:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

