* {
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
  margin: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: var(--type-second-spectral), Georgia;
  --red-color: #fb414d;
  --red-color-background: #f8f6f7;
  --primary: #23adad;
  --greyLight: #23adade1;
  --greyLight-2: #cbe0dd;
  --greyDark: #2d4848;
  font-family: var(--type-first);
  background-color: var(--red-color-background);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

/* button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
} */

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 2rem;
}


@media (max-width: 992px) {
  .container {
    max-width: 60rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 50rem;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 40rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--red-color);
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.app-body {
  flex: 1;
}

@media (max-width: 576px) {
  .app-body {
    display: flex;
   width: 100%;
  }
}